USE [master]
GO
/****** Object:  Database [NorthwindDataMart]    Script Date: 18/08/2017 0:13:46 ******/
CREATE DATABASE [NorthwindDataMart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NorthwindDataMart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NorthwindDataMart.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NorthwindDataMart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NorthwindDataMart_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NorthwindDataMart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NorthwindDataMart]
GO
USE [NorthwindDataMart]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 18/08/2017 0:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[ciudad] [varchar](50) NOT NULL,
	[pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 18/08/2017 0:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[informe] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 18/08/2017 0:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[productoID] [int] NOT NULL,
	[clienteID] [int] NOT NULL,
	[empleadoID] [int] NOT NULL,
	[tiempoID] [int] NOT NULL,
	[proveedorID] [int] NOT NULL,
	[precio] [float] NOT NULL,
	[cantidad] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 18/08/2017 0:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 18/08/2017 0:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompania] [varchar](50) NOT NULL,
	[pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tiempo]    Script Date: 18/08/2017 0:13:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiempo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[anio] [int] NOT NULL,
	[trimestre] [int] NOT NULL,
	[mes] [varchar](20) NOT NULL,
	[dia] [int] NOT NULL,
 CONSTRAINT [PK_Time] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id], [nombre], [ciudad], [pais]) VALUES (547, N'Alejandra Camino', N'Madrid', N'Spain')
INSERT [dbo].[Cliente] ([id], [nombre], [ciudad], [pais]) VALUES (548, N'Alexander Feuer', N'Leipzig', N'Germany')
INSERT [dbo].[Cliente] ([id], [nombre], [ciudad], [pais]) VALUES (549, N'Ana Trujillo', N'México D.F.', N'Mexico')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id], [apellido], [informe]) VALUES (33, N'Buchanan', 2)
INSERT [dbo].[Empleado] ([id], [apellido], [informe]) VALUES (34, N'Callahan', 2)
INSERT [dbo].[Empleado] ([id], [apellido], [informe]) VALUES (35, N'Davolio', 2)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
INSERT [dbo].[Pedido] ([productoID], [clienteID], [empleadoID], [tiempoID], [proveedorID], [precio], [cantidad]) VALUES (512, 617, 33, 2881, 177, 168, 12)
INSERT [dbo].[Pedido] ([productoID], [clienteID], [empleadoID], [tiempoID], [proveedorID], [precio], [cantidad]) VALUES (523, 617, 33, 2881, 187, 98, 10)
INSERT [dbo].[Pedido] ([productoID], [clienteID], [empleadoID], [tiempoID], [proveedorID], [precio], [cantidad]) VALUES (503, 617, 33, 2881, 181, 174, 5)
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id], [nombre], [categoria]) VALUES (463, N'Alice Mutton', N'Meat/Poultry')
INSERT [dbo].[Producto] ([id], [nombre], [categoria]) VALUES (464, N'Aniseed Syrup', N'Condiments')
INSERT [dbo].[Producto] ([id], [nombre], [categoria]) VALUES (465, N'Boston Crab Meat', N'Seafood')
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([id], [nombreCompania], [pais]) VALUES (175, N'Aux joyeux ecclésiastiques', N'France')
INSERT [dbo].[Proveedor] ([id], [nombreCompania], [pais]) VALUES (176, N'Bigfoot Breweries', N'USA')
INSERT [dbo].[Proveedor] ([id], [nombreCompania], [pais]) VALUES (177, N'Cooperativa de Quesos ''Las Cabras''', N'Spain')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
SET IDENTITY_INSERT [dbo].[Tiempo] ON 

INSERT [dbo].[Tiempo] ([id], [fecha], [anio], [trimestre], [mes], [dia]) VALUES (2881, CAST(N'1996-07-04' AS Date), 1996, 3, N'7', 4)
INSERT [dbo].[Tiempo] ([id], [fecha], [anio], [trimestre], [mes], [dia]) VALUES (2882, CAST(N'1996-07-05' AS Date), 1996, 3, N'7', 5)
INSERT [dbo].[Tiempo] ([id], [fecha], [anio], [trimestre], [mes], [dia]) VALUES (2883, CAST(N'1996-07-08' AS Date), 1996, 3, N'7', 8)
GO
SET IDENTITY_INSERT [dbo].[Tiempo] OFF
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([clienteID])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Empleado] FOREIGN KEY([empleadoID])
REFERENCES [dbo].[Empleado] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Empleado]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Producto] FOREIGN KEY([productoID])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Producto]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Proveedor] FOREIGN KEY([proveedorID])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Proveedor]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Tiempo] FOREIGN KEY([tiempoID])
REFERENCES [dbo].[Tiempo] ([id])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Tiempo]
GO
USE [master]
GO
